<div th:fragment="sidebar" id="sidebar">
    <button data-drawer-target="sidebar-multi-level-sidebar" data-drawer-toggle="sidebar-multi-level-sidebar" aria-controls="sidebar-multi-level-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
        <span class="sr-only">Open sidebar</span>
        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
        </svg>
    </button>

    <aside id="sidebar-multi-level-sidebar" class="fixed bg-white top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
        <div class="h-full px-3 py-4 overflow-y-auto border-r border-gray-200">
            <div class="px-4 py-6 flex items-center">
                <img th:src="@{/img/vTSLogo.png}" class="w-8 h-8 rounded-full" alt="Logo">
                <p class="text-xl ml-3 font-semibold">TraceIT</p>
                <button onclick="toggleSidebar()" class="ml-auto md:hidden">
                </button>
            </div>
            <ul class="space-y-2 font-medium">
                <li>
                    <a href="/t/dashboard"
                       class="flex h-12 items-center gap-2 rounded-2xl px-4 transition focus-visible:outline-accent-8 hover:bg-gray-200 text-gray-800 hover:text-gray-900">
                        <img class="h-6 w-6" th:src="@{/img/dashboard.svg}" alt="home-layout"/>
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="/t/tracking"
                       class="flex h-12 items-center gap-2 rounded-2xl px-4 transition focus-visible:outline-accent-8 hover:bg-gray-200 text-gray-800 hover:text-gray-900">
                        <img class="h-6 w-6" th:src="@{/img/tracking.svg}" alt="order-on-the-way"/>
                        Tracking
                    </a>
                </li>
                <li>
                    <a href="/t/vehicles"
                       class="flex h-12 items-center gap-2 rounded-2xl px-4 transition focus-visible:outline-accent-8 hover:bg-gray-200 text-gray-800 hover:text-gray-900">
                        <img class="h-6 w-6" th:src="@{/img/vehicles.svg}" alt="people-in-car-side-view"/>
                        Vehicles
                    </a>
                </li>
                <li>
                    <a href="/t/drivers"
                       class="flex h-12 items-center gap-2 rounded-2xl px-4 transition focus-visible:outline-accent-8 hover:bg-gray-200 text-gray-800 hover:text-gray-900">
                        <img class="h-6 w-6" th:src="@{/img/driver.svg}" alt="driver"/>
                        Drivers
                    </a>
                </li>
                <li>
                    <a href="/t/tracking/units"
                       class="flex h-12 items-center gap-2 rounded-2xl px-4 transition focus-visible:outline-accent-8 hover:bg-gray-200 text-gray-800 hover:text-gray-900">
                        <img class="h-6 w-6" th:src="@{/img/units.svg}" alt="units"/>
                        Units
                    </a>
                </li>
                <li>
                    <a href="/t/settings"
                       class="flex h-12 items-center gap-2 rounded-2xl px-4 transition focus-visible:outline-accent-8 hover:bg-gray-200 text-gray-800 hover:text-gray-900">
                        <img class="h-6 w-6" th:src="@{/img/settings.svg}" alt="settings"/>
                        Settings
                    </a>
                </li>
                <li>
                    <a href="/logout"
                       class="flex h-12 items-center gap-2 rounded-2xl px-4 text-red-600 hover:bg-red-100">
                        <img class="h-6 w-6" th:src="@{/img/logout.svg}" alt="logout"/>
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </aside>
</div>
